%body{style: "background-color: #F3F3F3"}
  -2.times do
    %br/
  %h1.row.justify-content-center
    All Fighters
  %br/
  .row.justify-content-center
    = link_to "Add Fighter", new_fighter_path, class: "btn btn-primary"
  %br/
  .row.justify-content-center
    .col-4{style: "background-color:white"}
      - @fighters.each do |fighter|
        .row.align-items-center
          = link_to fighter_path(fighter), class: "text-decoration-none", style: "color:black" do
            = image_tag url_for(avatar(fighter)), class: "avatar"
            %strong= "#{fighter.name.capitalize}"
            = ", Lifepoints: #{fighter.lifepoints}, Hitpoints: #{fighter.hitpoints}, Experience: #{fighter.experience}"
        %hr.m-2
