%h1
  = @fighter.name
  = image_tag url_for(avatar(@fighter)), style: "border-radius: 50%; width:5em"
%ul
  %li
    = "Lifepoints: #{@fighter.lifepoints}"
  %li
    = "Hitpoints: #{@fighter.hitpoints}"
  %li
    = "Experience: #{@fighter.experience}"

%p
  = link_to "Edit", edit_fighter_path(@fighter)
