%h1
  Welcome Page

= form_for(@fight) do |f|
  = select_tag :fighter1, options_from_collection_for_select(@fighters, "id", "name", @fighters.first.id)
  = select_tag :fighter2, options_from_collection_for_select(@fighters, "id", "name", @fighters.last.id)
  = submit_tag "Fight!", class: "btn btn-primary"

%p
  = flash[:notice]
